/* Contacts */

.contacts__wrapper {
    width: 1150px;
    margin: 0px auto 160px;
    box-sizing: content-box;
}

.contacts__wrapper::before {
    display: block;
    content: "";
    width: 24px;
    height: 24px; 
    margin-bottom: 12px;
    margin-left: -5px;
    background-image: url(../resources/ic_outline-phone.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.contacts__text {
    width: 90px;
    size: 18px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.telephone__number {
    width: 480px;
    margin-bottom: 30px;
    letter-spacing: -0.04em;
}

.number {
    text-decoration: none;
    color: #121212;
}

.mail {
    width: 412px;
    height: 60px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #121212;
    opacity: 0.5;
    border-bottom: 1.2px solid;
    text-transform: lowercase;
}