.footer {
    background-color: #121212;
    color: white;
    min-width: 1400px;
    height: 229px;
    margin: 0 auto;
}

.footer__box {
    width: 450px;
    height: 25px;
    padding-top: 60px;
    padding-bottom: 87px;
    margin: 0 auto;
}

.footer__nav {
    display: inline-block;
    margin-right: 50px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.footer__nav:hover {
    padding-bottom: 2px;
    border-bottom: 1.2px solid;
    opacity: 0.5;
}

.footer__nav:nth-last-child(1) {
    margin-right: 0;
}

.footer__text {
    width: 389px;
    height: 27px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    opacity: 0.5;
    margin: 0 auto 30px;
}