/* Шапка - навигация */
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #FFFFFF;
    z-index: 5;
}

.header__inner {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 33px 0;
}

.navig {
    display: flex;
    gap: 20px;
}


.nav_link {
    display: block;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.01em;
    color: #121212;
    text-decoration: none;
}

.nav_link:active {
    opacity: 0.5;
    padding-bottom: 2px;
    border-bottom: 1.2px solid;
    text-transform: capitalize;
}

@media (max-width: 1199px) {
    .navig {
        display: none;
    }
}