/* Отзывы */

.all__reviews {
    max-width: 1150px;
    margin: 0 auto;
    padding: 150px 0px 157px 0px;
}

h2.reviews {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
}
.reviews__inner {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 50px;
}

.review {
    width: calc(50% - 25px);
}

.review__third {
    width: 74.9%;
}

.review__title {
    font-size: 45px;
    line-height: 61px;
    padding-bottom: 14px;
}

.review__text {
    font-size: 22px;
    line-height: 30px;
}

@media (max-width: 1199px) {
    
    .all__reviews {
        padding: 117px 15px 120px 16px;
    }
    .review {
        width: calc(50% - 5px);
    }
    .reviews__inner {
        margin-top: 22px;
        gap: 80px 10px;
    }
    .review__third {
        width: 74.9%;
    }

    .review__title {
        font-size: 35px;
        line-height: 48px;
        padding-bottom: 25px;
    }

    .review__text {
    font-size: 20px;
    line-height: 27px;
    }
}

@media (max-width: 767px) {
    .all__reviews {
        padding: 76px 13px;
    }
    .reviews__inner {
        flex-direction: column;
        gap: 75px;
    }
    .review__title {
        font-size: 25px;
        line-height: 34px;
        padding-bottom: 10px;
    }
    .review__text {
        font-size: 16px;
        line-height: 22px;
    }
    .review {
        width: 100%;
    }

}