/* Услуги  */
.section__services {
    background-color: #121212;
    background-size: cover;
}

.services.container {
    color: #FFFFFF;
    padding-bottom: 150px;
}

.service__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 76px;
}

.services__item {
    position: relative;
    width: calc(50% - 5.5px);
}

h2.services__title {
    padding-bottom: 30px;
}

.firstServiceImg {
    margin-bottom: 24px;
    width: 100%;
}

h3.firstService {
    font-size: 30px;
    line-height: 41px;
    padding-left: 3px;
    letter-spacing: -0.03em;
}

.service__price {
    position: absolute;
    top: 31px;
    left: 30px;
    font-size: 22px;
    background: #AD1818;
    border-radius: 5px; 
    padding: 5px 22px;
    line-height: 30px;
    letter-spacing: -0.03em;
}

.services__btn {
    display: inline-block;
    background-color: #ad1818;
    color: #ffffff;
    border: 1px solid #ad1818;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 30px;
    line-height: 41px;
    padding: 56px 0;
    cursor: pointer;
    margin-top: 102px;
}

/* Аддаптив для 1199px */
@media (max-width: 1199px) {

    /* Аддаптив под секцию УСЛУГИ*/
    .services.container {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 118px;
    }
    h2.services__title {
        padding-left: 4px;
        padding-bottom: 30px;
    }
    .service__inner {
        row-gap: 78px;
    }
    .services__item {
        width: calc(50% - 5px);
    }
    .service__price {
        top: 31px;
        left: 32px;
        font-size: 20px;
        line-height: 27px; 
        padding: 7px 26px 6px 27px;
    }
    .firstServiceImg {
        margin-bottom: 15px;
    }

    h3.firstService {
        width: 100%;
        font-size: 25px;
        line-height: 34px;
        padding-left: 0px;
    }
    .services__btn {
        font-size: 30px;
        line-height: 41px;
        padding: 57px 0px 55px;
        margin-top: 78px;
    }
}
@media (max-width: 767px) {

    /* Адаптив под секцию УСЛУГИ Моб*/

    .services.container {
        padding: 80px 12px 80px 13px;
    }
    h2.services__title {
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }
    .services__item {
        width: 100%;
    }
    .service__inner {
        flex-direction: column;
        row-gap: 57px;
    }
    .firstServiceImg {
        margin-bottom: 10px;
    }
    h3.firstService {
        width: 100%;
        font-size: 18px;
        line-height: 25px;
    }
    .service__price {
        left: 25px;
        top: 23px;
        font-size: 14px;
        line-height: 19px; 
        padding: 5px 24px 5px 24px;
    }
    .services__btn {
        font-size: 22px;
        line-height: 26px;
        padding: 36px 0px;
        margin-top: 60px;
    }
}